header{
color: red;
}
#Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#johnposter{
  max-width: 50%;
   float: left;
   padding: 5px;
}
#s1::after{
  content: "";
  display: block;
  clear: both;
}
video{
  max-width: 100%;

}
#s2{
}

footer{
  width: 80%;
  height: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color:	#696969;
