
/* I decided not to change original margin of the website so nothing touches the walls of the website. */

#header{
  width: 100%;
  display: block;
  height: 40px;
  background-color: #d63031;
  color: #d63031;
  margin-bottom: 15px;
}

#innerheader{
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: #333;
}

}
#logo{
  height: 100%;

}
#logo h2{
  height: 100%;
  color: white;
  font-family: fantasy;
  text-align: center;
  font-size: 21px;
  font-weight: 300;
  padding-top: 5px;
}

body{
  background-image: url(../img/back.png);
  color: white;
  font-family: sans-serif;
}

 button{
   border: solid #d63031;
   font-size: 25px;
   font-family: fantasy;
   padding: 5px 30px;
   cursor: pointer;
   background: none;
   transition: 0.8s;
 }

#Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.b1:hover{
  background-color: #d63031;
}

#johnposter{
  max-width: 50%;
   float: left;
   padding: 5px;
}

#castimg{
  max-width: 25%;
  float: left;
  padding: 5px;
}

a{
  color: white;
}

#s1::after{
  content: "";
  display: block;
  clear: both;


}

#s1{
  background-color: #333;
  border: 5px #d63031 solid;
  margin-top: 10px;

}


video {
  max-width: 100%;
  padding: 4px;
}

audio{
  color: #343434;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:	#343434;
  color: white;
  border-top: 2px #d63031 solid;

}

#f1{
  display: flex;
  flex-direction: column;
  padding: 4px;
}
