h1{
background-color:lightgrey; color: blue;font-family: impact,charcoal,sans-serif;
}
body{
  background-color:#f4f4f4;font-family: sans-serif;
}
.box4links{
color: white; font-family: impact,charcoal,sans-serif;
}
a{
  stylesheet color: #B8860B; opacity: 0.5;
}
h1{
  text-align: center;
}
h3, h2, h4 {
  box-shadow: 3px 7px;
}
footer{
  background-color: darkgrey;
}
